.active {
    background-color: white;
    color: black;
}

nav.navbar {
    background-color: black;
}

.navbar-toggler {
    background-color: white;
}

.navbar-nav .nav-item:hover {
    background-color: white;
    color: black;
}

.navbar-nav .nav-item a {
    color: white;
}

.navbar-nav .nav-item a:hover {
    color: black;
}

.navbar-toggler:active,
.navbar-toggler:focus {
    outline: none;
    box-shadow: none;
}


ul.navbar-nav li:nth-child(3) {
    position: relative;
}



@media only screen and (max-width: 576px) {
    .navbar-brand img {
        height: 38px;
        width: 61px;
    }

    .navbar-toggler {
        padding: 3px 5px !important;
    }

    #navbarNav {
        font-size: small;
    }

    .navbar-toggler-icon {
        width: 1.3em;
        height: 1.3em;
    }
}




@media only screen and (min-width: 576px) {
    nav.navbar {
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    }

    .navbar-brand img {
        height: 42px;
        width: 75px;
    }

    .nav-item{
        border: 1px solid;
    }
}

@media only screen and (min-width: 992px) {

    ul.navbar-nav> :not(:last-child) {
        margin-right: 1.5vw;
    }


    #total-cart-count {
        position: absolute;
        top: -11px;
        right: -11px;
        color: white;
        border-radius: 50%;
        height: 19px;
        width: 21px;
        text-align: center;
        background-color: cadetblue;
        font-size: small;
    }
}